
<div id="user-index-page">
    <% @users.each do |user| %>

        <div class="user-index-card">
            <%= link_to user_path(user) do %>
                <h2><%= user.name %></h2>
                <h3><%= user.position %></h3>
                <div class="image-frame" style="background:<%= user.colors.sample.hex_code %>" >
                    <img src=<%= user.image_url %>>
                </div>
                <p><%= user.colors.count %> favorite colors</p>
                <p><%= user.palettes.count %> saved palettes</p>
            <% end %>
        </div>

    <% end %>
</div>
