<h1><%= @user.name %></h1>
<h2><%= @user.position %></h2>
<img src=<%= @user.image_url %>>

<div>
    <%= link_to "New Favorite Color", new_user_favorite_path(@user) %>
    <%= link_to "New Palette", new_user_palette_path(@user) %>
</div>

<h2> Favorite Colors </h2>

<div>
    <% @user.colors.each do |color| %>
        <div>
            <h4><%=color.name%></h4>
            <p><%=color.hex_code%></p>
        </div>
    <% end %>
</div>

<h2> Color Palettes </h2>

<div>
    <% @user.palettes.each do |palette| %>
        <div>
        <h3><%= palette.name %></h3>
        <% palette.colors.each do |color|%>
            <div>
                <h4><%= color.name %></h4>
                <p><%= color.hex_code %></p>
            </div>
        <% end %>
        </div>
    <% end %>
</div>

